@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

.input-field {
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  font-size: 40px;
  color: white;
  background: #2b2b2b;
  margin: 0.5rem 0rem 0.5rem 0rem;
  width: 500px;
  &::placeholder {
    color: #3b3b3b;
    padding: 0rem 1rem;
  }
}

label {
  font-size: 15px;
  color: #ccc;
}

.btn__rounded {
  background-color: #3b3b3b;

  border: none;
  padding: 0.8rem 3rem;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
  &.disabled {
    color: white;
    opacity: 0.4;
  }
}

form.room-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
